/* General */
h2,
h1#presentation-name, 
p.location {
    color: #D3573C;
}

/* presentation section */
#presentation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    margin: 43px 100px 0;
    padding: 0 50px;
    border-radius: 5px;
}
#presentation-card {
    flex-grow: 1;
}
#presentation-name {
    font-size: 64px;
    font-weight: normal;
    display: inline-block;
    line-height: 83.33px;
    margin: 0;
}
#presentation-location {
    font-size: 24px;
    display: inline-block;
    margin: 0;
}
#presentation-tagline {
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
}
.contact_button {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    position: absolute;
    top: 137px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #D3573C;
    color: black;
}
#presentation-picture {
    text-align: right;
    width: 62%;
}
#presentation-img {
    width: 200px;
    height: 200px;
    
}

/* sort menu */
#sort-menu {
    position: relative;
    margin-left: 100px;
    width: fit-content;
    height: 90px;
    padding-top: 10px;
}
#sort-menu p, 
#sort-menu button {
    display: inline-block;
}
#sort-menu button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 50px;
    background-color: #901C1C;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
}
#sort-menu button:hover {
    background-color: #D3573C;
    color: black;
}
#sort-menu ul {
    position: absolute;
    background-color: #901C1C;
    top: 0;
    right: 0;
    width: 170px;
    margin: 10px 0 0;
    padding: 0;
    border-radius: 5px;
}
#sort-menu li {
    height: 50px;
    line-height: 50px;
    list-style: none;
}
#sort-menu a {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 150px;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
#sort-menu a:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sort-menu a:hover {
    background-color: #D3573C;
    color: black;
    cursor: pointer;
}
#sort-menu hr {
    /*color: white;*/
    background-color: white;
    height: 2px;
    border: none;
}
.hidden {
    display: none;
}

/* gallery section */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#gallery article {
    margin-bottom: 65px;
}
#gallery img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}
#gallery .legend, 
#gallery .like-button {
    color: #901C1C;
    font-size: 24px;
}
#gallery .legend {
    position: relative;
    margin-top: 5px;
}
#gallery .like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#gallery .like-button:hover i {
    color: #D3573C;
}
#gallery .title, 
#gallery .like {
    position: absolute;
    top: 0;
    margin-top: 0;
}
#gallery .title {  
    left: 0;
    width: 80%;
    line-height: 28px;
}
#gallery .like {
    right: 0;
}
#gallery .like-form {
    display: inline-block;
    position: absolute;
    right: 0;
    width: auto;
}
#gallery .blank {
    width: 350px;
}

/* modal contact window */
#contact_modal {
    display: none;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: #DB8876;
    position: fixed;
    right: 36px;
    bottom: 0;
    width: 376px;
    height: 70px;
    border-radius: 5px 5px 0 0;
}