/* General */
h2,
h1#presentation-name, 
p.location {
    color: #D3573C;
}
#main {
    padding-bottom: 70px;
}

/* presentation section */
#presentation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 313px;
    margin: 43px 100px 0;
    padding: 0 50px;
    border-radius: 5px;
}
#presentation-card {
    flex-grow: 1;
}
#presentation-name {
    font-size: 64px;
    font-weight: normal;
    display: inline-block;
    line-height: 83.33px;
    margin: 0;
}
#presentation-location {
    font-size: 24px;
    display: inline-block;
    margin: 0;
}
#presentation-tagline {
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
}
.contact_button {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    position: absolute;
    top: 137px;
    left: 50%;
    width: 170px;
    height: 70px;
    padding: 11px;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color: #DB8876;
    color: black;
}
#presentation-picture {
    text-align: right;
    width: 62%;
}
#presentation-img {
    width: 200px;
    height: 200px;  
}

/* sort menu */
#sort-menu {
    position: relative;
    width: fit-content;
    height: 90px;
    margin-left: 100px;
    padding-top: 10px;
}
#sort-menu p, 
#sort-menu button {
    display: inline-block;
}
#sort-menu button {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#sort-menu button:hover {
    background-color: #DB8876;
    color: black;
}
#sort-menu ul {
    background-color: #901C1C;
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    margin: 10px 0 0;
    padding: 0;
    border-radius: 5px;
}
#sort-menu li {
    height: 50px;
    line-height: 50px;
    list-style: none;
}
#sort-menu a {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: block;
    width: 150px;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
}
#sort-menu a:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sort-menu a:hover {
    background-color: #DB8876;
    color: black;
    cursor: pointer;
}
#sort-menu li.separator {
    color: white;
    height: 10px;
    line-height: 10px;
    margin-left: 5px;
}
.hidden {
    display: none;
}

/* gallery section */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#gallery article {
    margin-bottom: 65px;
}
#gallery img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}
#gallery .legend, 
#gallery .like-button {
    font-size: 24px;
    color: #901C1C;
}
#gallery .legend {
    position: relative;
    margin-top: 5px;
}
#gallery .like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#gallery .like-button:hover i {
    color: #DB8876;
}
#gallery .title, 
#gallery .like {
    position: absolute;
    top: 0;
    margin-top: 0;
}
#gallery .title {  
    left: 0;
    width: 80%;
    line-height: 28px;
}
#gallery .like {
    right: 0;
}
#gallery .like-form {
    position: absolute;
    display: inline-block;
    right: 0;
    width: auto;
}
#gallery .blank {
    width: 350px;
}

/* modal contact window */
#contact_modal {
    display: none;
}
.modal {
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
form label {
    font-size: 36px;
    color: #312E2E;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* div informations */
#informations {
    font-size: 24px;
    font-weight: 500;
    background-color: #DB8876;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 36px;
    bottom: 0;
    width: 376px;
    height: 70px;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 991px) {
    #presentation {
        margin: 43px 0 0;
        padding: 0 100px;
        border-radius: 0;
        height: 413px;
    }
    #presentation-card {
        margin-bottom: 100px;
    }
    .contact_button {
        top: 280px;
    }
    #presentation-picture {
        width: 50%;
        margin-bottom: 100px;
    }
    #gallery {
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    #presentation {
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin-top: -20px;
        padding: 20px 20px 60px;
    }
    #presentation-card {
        text-align: center;
        margin-bottom: 10px;
        order: 1;
    }
    #presentation-name {
        font-size: 48px;
        line-height: 56px;
        /*margin-top: 15px;*/
    }
    #presentation-location {
        font-size: 16px;
    }
    #presentation-tagline {
        font-size: 12px;
        margin-top: 12px;
    }
    .contact_button {
       position: relative;
       top: auto;
       left: auto;
       transform: none;
       margin: auto;
       order: 3;
    }
    #presentation-picture {
        width: fit-content;
        text-align: center;
        margin-bottom: 25px;
        order: 2;
    }
    #sort-menu {
        margin: auto;
    }
    #informations {
        width: 325px;
        right: 50%;
        transform: translateX(50%);
    }
}